@model ShopTARgv23.Models.ChuckNorris.JokeViewModel

<div class="container">
    <div class="h1">Chuck Norris Joke Details</div>
    <hr />

    <dl>
        <div>
            <label asp-for="Id" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.Id)
        </div>

        <div>
            <label asp-for="IconUrl" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.IconUrl)
        </div>

        <div>
            <label asp-for="Url" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.Url)
        </div>

        <div>
            <label asp-for="CreatedAt" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>

        <div>
            <label asp-for="UpdatedAt" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>

        <div>
            <label asp-for="Categories" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.Categories)
        </div>

        <div>
            <label asp-for="Value" class="col-sm-2"></label>
            @Html.DisplayFor(model => model.Value)
        </div>
    </dl>

    <a asp-action="Index" asp-controller="ChuckNorris">Back</a>
</div>